<div class="container">
  <mat-table #table class='camera-table' [dataSource]="cameraFiles">
    <ng-container matColumnDef="Image">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
        <mat-cell class='image-cell' *matCellDef="let cameraFile; let idx=index"><img  
          [style.display]="cameraFileImages[(paginator.pageIndex * paginator.pageSize) + idx] ? 'block' : 'none'"
          [src]="cameraFileImages[(paginator.pageIndex * paginator.pageSize) + idx]"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let cameraFile"><div><b>{{ cameraFile.Name}}</b></div>
          <div><b>{{ cameraFile.CreateTime | date}}</b> {{ cameraFile.Date | date:'mediumTime'}}</div></mat-cell>
    </ng-container>
    <mat-row class="camera-row" (click)="openVideo(cameraFile)" *matRowDef="let cameraFile; columns: displayedColumns;"></mat-row>
</mat-table>      
<mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div>
